<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" [routerLink]="['/']">Top Artist</a>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menuCollapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    </div>
    <div class="collapse navbar-collapse" id="menuCollapse">

      <ul class="nav navbar-nav">
        <li [routerLinkActive]="['active']"> <a [routerLink]="['/artist/list']"> List all artist</a></li>
        <!--<li [routerLinkActive]="['active']"> <a [routerLink]="['/artist/types']">Project Types</a></li>-->

      </ul>


    
    </div>
  </div>
</nav>
<br><br> <br>